@media only screen and (min-width:990px) {
    .grid-container{
        grid-template-columns: 369px 369px 369px;
    }
    .hidden-TTNN{
        height: 452px;
    }
    section > .container {
        width: 1196px;
    }
    .flex{
        display: flex;
        justify-content: center;
    }
    .container-chung_chi {
        display:grid;
        grid-template-columns :140.63px auto;
        width: 49%;
    }
    #boder-chung_chi-1 {
        border-style:none solid none none ;
        border-color: #d6c08d;
    }
    .personal-info{
        width:36%;
    }
    .chung-chi{
        width:140.6261181px; 
    }
    #boder-chung_chi-3{
        border-style:none none solid none ;
        border-color: #d6c08d;
    }
}